<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>young-注册表单</title>
    <link rel="stylesheet" th:href="@{/cuy/css/style.css}"/>
    <script th:src="@{/cuy/js/jquery.min.js}"></script>
    <!--背景图片自动更换-->
    <script th:src="@{/cuy/js/supersized.3.2.7.min.js}"></script>
    <script th:src="@{/cuy/js/supersized-init.js}"></script>
    <!--表单验证-->
    <script th:src="@{/cuy/js/jquery.validate.min.js}"></script>
    <script th:src="@{/cuy/js/common.js}"></script>
</head>
<body>

<div class="register-container">
    <h1>注册</h1>

    <div class="connect">
        <p>Link the world. Share to world.</p>
    </div>

    <form th:action="@{/y/registerUser}" method="post" id="registerForm">
        <div>
            <input type="text" name="username" class="username" placeholder="您的用户名" autocomplete="off"/>
        </div>
        <div>
            <input type="password" name="password" class="password" placeholder="输入密码" oncontextmenu="return false"
                   onpaste="return false"/>
        </div>
        <div>
            <input type="password" name="confirm_password" class="confirm_password" placeholder="再次输入密码"
                   oncontextmenu="return false" onpaste="return false"/>
        </div>
        <div>
            <input type="text" name="phone_number" class="phone_number" placeholder="输入手机号码" autocomplete="off"
                   id="number"/>
        </div>
        <div>
            <input type="email" name="email" class="email" placeholder="输入邮箱地址" oncontextmenu="return false"
                   onpaste="return false"/>
        </div>

        <button id="submit" type="submit">注 册</button>
    </form>
    <a href="/y/login">
        <button type="button" class="register-tis">已经有账号？</button>
    </a>

</div>

</body>
</html>